<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>HelloWorld</display-name>
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>contextInitializerClasses</param-name>
		<param-value>org.jimmyray.config.WebProfileContextInitializer</param-value>
	</context-param>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>org.jimmyray.config.WebConfig</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>mvc-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
            org.jimmyray.config.MvcConfig
        </param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
			com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.jimmyray.rest.services</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>appProps</servlet-name>
		<jsp-file>/WEB-INF/jsp/appProps.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>appProps</servlet-name>
		<url-pattern>/appProps</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>headers</servlet-name>
		<jsp-file>/WEB-INF/jsp/headers.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>headers</servlet-name>
		<url-pattern>/headers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>8BallOps</servlet-name>
		<jsp-file>/WEB-INF/jsp/eightBallWebSocket.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>8BallOps</servlet-name>
		<url-pattern>/8BallOps</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.do</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/uncaught.do</location>
	</error-page>
</web-app>